### Collaborative Filtering Algorithhms Test


Supanat Jintawatsakoon <br>supanat.jtk@g.swu.ac.th<br>Jan, 2018

In [1]:
import pandas as pd
import numpy as np
import math

### Populate Data

In [2]:
df = pd.DataFrame({"Customer": ["customer 1", "customer 1", "customer 1", "customer 2", "customer 2", "customer 2",
                         "customer 3", "customer 3", "customer 3", "customer 4", "customer 4", "customer 4"],                    
                   "Product": ["product B", "product C", "product A", "product A", "product C", "product F",
                               "product E", "product B", "product C", "product A", "product C", "product D"],
                  "Count": [1, 1, 1, 1, 1, 1,
                               1, 1, 1, 1, 1, 1]})

df = df[['Customer','Product','Count']]

แสดง Transaction การซื้อของลูกค้าแต่ละราย

In [3]:
df

      Customer    Product  Count
0   customer 1  product B      1
1   customer 1  product C      1
2   customer 1  product A      1
3   customer 2  product A      1
4   customer 2  product C      1
5   customer 2  product F      1
6   customer 3  product E      1
7   customer 3  product B      1
8   customer 3  product C      1
9   customer 4  product A      1
10  customer 4  product C      1
11  customer 4  product D      1

___________

Convert to pivot

In [4]:
pivot_df = df.pivot(index='Customer', columns='Product', values='Count')
pivot_df

Product     product A  product B  product C  product D  product E  product F
Customer
customer 1        1.0        1.0        1.0        NaN        NaN        NaN
customer 2        1.0        NaN        1.0        NaN        NaN        1.0
customer 3        NaN        1.0        1.0        NaN        1.0        NaN
customer 4        1.0        NaN        1.0        1.0        NaN        NaN

In [5]:
#pivot_df.info()

In [6]:
#pivot_df.isnull().sum()

In [7]:
pivot_df = pivot_df.fillna(0)
pivot_df

Product     product A  product B  product C  product D  product E  product F
Customer
customer 1        1.0        1.0        1.0        0.0        0.0        0.0
customer 2        1.0        0.0        1.0        0.0        0.0        1.0
customer 3        0.0        1.0        1.0        0.0        1.0        0.0
customer 4        1.0        0.0        1.0        1.0        0.0        0.0

### หาความสัมพันธ์ระหว่าง Product 
<br> สามารถทำได้หลายวิธี เช่น <br>
1.Cosine Similarity <br>
2.Jaccard Similarity <br>

### Cosine Similarity

เพื่อหาความสัมพันธ์ ระหว่าง product
<img src="https://lintcode-media.s3.amazonaws.com/problem/cosine-similarity.png">

In [15]:
#a = np.dot(1,1)
#a

In [16]:
#Get First Column
#pivot_df.iloc[:,1]

In [10]:
def computeCosineSimilarity(firstProdeucIndex,secondProductIndex):    
    sumdotAB = 0
    sumMagA = 0
    sumMagB = 0  
    for i in range(0,len(pivot_df)):
        a = pivot_df.iloc[:,firstProdeucIndex].values[i]
        b = pivot_df.iloc[:,secondProductIndex].values[i]
        #print(a)
        #print(b)
        sumdotAB = sumdotAB + np.dot(a,b) 
        
        sumMagA = sumMagA + np.dot(a,a) 
        sumMagB = sumMagB + np.dot(b,b) 
      
    #print(sumdotAB)
    #print(sumMagA)
    #print(sumMagB)
    cosine_similarity = sumdotAB / (math.sqrt(sumMagA)*math.sqrt(sumMagB))
    return cosine_similarity

### ทดสอบ

ทดสอบ function ที่สร้างขึ้นมา <br>
หา Consine Similarity ของ Product A กับ C <br>

In [11]:
cosAC = computeCosineSimilarity(0,2)
print(cosAC)

0.866025403784

<b>product A กับ C </b> <br>
มี Consine Similarity มีค่าสูง<br>
แปลว่า A กับ C ถูกซื้อด้วยกันบ่อยๆ

In [12]:
pivot_df[['product A','product C']]

Product     product A  product C
Customer
customer 1        1.0        1.0
customer 2        1.0        1.0
customer 3        0.0        1.0
customer 4        1.0        1.0

----

หา Cosine Similarity ของ Product D กับ E <br>

In [13]:
cosDE = computeCosineSimilarity(3,4)
print(cosDE)

0.0

product D กับ E <br>
มีค่า Cosine Similarity เป็น 0 <br>
แสดงว่า ไม่เคยถูกซื้อด้วยกันเลย

In [14]:
pivot_df[['product D','product E']]

Product     product D  product E
Customer
customer 1        0.0        0.0
customer 2        0.0        0.0
customer 3        0.0        1.0
customer 4        1.0        0.0

___________________________

### Jaccard Similarity

<img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/eaef5aa86949f49e7dc6b9c8c3dd8b233332c9e7">

In [45]:
def computeJaccardSimilarity(firstProdeucIndex,secondProductIndex):    
    totalAintersecB = 0
    totalA = 0  
    totalB = 0
    for i in range(0,len(pivot_df)):
        a = pivot_df.iloc[:,firstProdeucIndex].values[i]
        b = pivot_df.iloc[:,secondProductIndex].values[i]
 
        totalAintersecB = totalAintersecB + (a * b )
    
        totalA = totalA + a
        totalB = totalB + b
        
      
    jaccard_similarity = totalAintersecB / ((totalA + totalB)-totalAintersecB)
    #print(totalAintersecB)
    #print(totalA + totalB)
    #print(jaccard_similarity)
    return jaccard_similarity

In [46]:
computeJaccardSimilarity(0,2)

0.75

In [47]:
computeJaccardSimilarity(3,4)

0.0